.wrapper {
  text-align: center;
  margin: 14px auto;
  width: 399px;
  height: 400px;
  padding-left: 31px;
  padding-right: 31px;
  box-sizing: border-box;
}

.form {
  margin-bottom: 14px;
}

.button {
  margin: 31px auto 0px;
  width: 100px;
}
